<head>
  <script src="https://pay.google.com/gp/p/js/pay.js"></script>
  <script src="https://js.braintreegateway.com/web/3.65.0/js/client.min.js"></script>
  <%# <script src="https://js.braintreegateway.com/web/3.65.0/js/google-payment.min.js"></script> %>
  <script src="https://js.braintreegateway.com/web/3.65.0/js/google-payment.js"></script>
</head>
<%= javascript_pack_tag 'payment' %>

<h1>Hosted Fields Payment Test</h1>
<%# <button id="google-pay-button" >Google Pay Here</button> %>
<div id="button-container"></div>